.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: crimson;
}

.about {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: coral;
}

.portfolio {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: brown;
}

#footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
